package layout

templ Base() {
	<html lang="en">
		<head>
			<link rel="stylesheet" href="/dist/output.css"/>
		</head>
		<body>
			This is from the base layout
			{ children... }
		</body>
	</html>
}
